.adminActions {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.adminButton {
  height: 60px;
  width: 60px;
  background-color: #717fa1;
  border-radius: 50%;
  display: block;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.adminButton i {
  font-size: 22px;
}

.adminButtons {
  position: absolute;
  width: 100%;
  bottom: 120%;
  text-align: center;
}

.adminButtons a {
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  margin: 10px auto 0;
  line-height: 1.15;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.3);
  border: 1px solid #18365a;
}

.adminButtons a:hover {
  transform: scale(1.05);
}

.adminButtons a:nth-child(1) {
  background-color: #0eb15f;
  transition:
    opacity 0.2s ease-in-out 0.3s,
    transform 0.15s ease-in-out;
  border: 1px solid #ffffff;
}
.adminButtons a:nth-child(2) {
  background-color: #0eb15f;
  transition:
    opacity 0.2s ease-in-out 0.25s,
    transform 0.15s ease-in-out;
  border: 1px solid #ffffff;
}
.appeler {
  background-color: #f37a1d;
  width: 200px;
  height: 40px;
  position: absolute;
  right: 53px;
  top: 3px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #18365a;
  border: 2px solid #18365a;
}
.appelerOff {
  display: none !important;
  background-color: #f37a1d;
  width: 200px;
  height: 40px;
  position: absolute;
  right: 53px;
  top: 3px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #18365a;
}
.adminButtons a:nth-child(3) {
  background-color: #0eb15f;
  transition:
    opacity 0.2s ease-in-out 0.2s,
    transform 0.15s ease-in-out;
  border: 1px solid #ffffff;
}
.adminButtons a:nth-child(4) {
  background-color: #4caf50;
  transition:
    opacity 0.2s ease-in-out 0.15s,
    transform 0.15s ease-in-out;
}

.adminActions a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
}

.adminToggle:hover {
  box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
  display: block;
}
.messagepop {
  position: absolute;
  right: 3.5vw;
  bottom: 6vh;
  box-shadow: -11px 13px 11px 5px rgba(0, 0, 0, 0.19);
  border: 1px solid #18365a;
  border-radius: 15px;
}
.messagepopOff {
  display: none;
  position: absolute;
  right: 3.5vw;
  bottom: 6vh;
  box-shadow: -11px 13px 11px 5px rgba(0, 0, 0, 0.19);
}

@media (max-width: 1050px) {
  .messagepop {
    width: 90vw;
    height: 50vh;
    right: 0;
    bottom: 15vh;
    box-shadow: none;
    border: none;
  }
}
